body {
	background: #41454A;
	color: #FFFFFF;

	font-family: Roboto, Tahoma, Arial;
	font-weight: 400;
}

#content {
	background: #58606A;
	padding-bottom: 30px;
}

.front-title {
	text-align: center;
	font-size: 36px;
	line-height: 160px;
}

@media(max-width: 768px) {
	.front-title {
		line-height: 80px;
	}
}

a {
	color: #FFFFFF !important;
}

a:hover {
	text-decoration: underline;
}

/***************************************/
/*                NAVBAR               */
/***************************************/
.navbar {
	margin-bottom: 0;

}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-brand {
	height: 100px;
	padding: 0 15px;
}

.navbar-brand img {
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 20px;
}

.navbar-brand span {
	float: left;
	margin-left: 10px;
	line-height: 100px;
	font-size: 40px;
	color: #FFFFFF;
}

.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 100px;
	color: #FFFFFF !important;
}

.navbar-nav > li > a:hover {
	text-decoration: underline;
}

@media(max-width: 768px) {
	.navbar-nav > li > a {
		line-height: 40px;
	}
}

.navbar-toggle {
	margin-top: 33px;
}

/***************************************/
/*                STEPS                */
/***************************************/
#copyright {
	padding: 10px !important;
}

/***************************************/
/*                STEPS                */
/***************************************/
.steps {
	width: 100%;
	margin: 0 auto;
}

@media(min-width: 768px) {
	.steps {
		width: 80%;
	}
}

.step {
	margin: 30px 0;
}

.step-top {

}

.step-bottom {
	padding: 60px 0 0 0;
	text-align: center;
}

.step-left img {
	width: 100%;
}

.step-right {
	padding-top: 30px;
	font-size: 22px;
}

.step .btn {
	font-size: 20px;
	padding: 5px 50px;
}

.step-separator {
	border-bottom: 1px solid #FFFFFF;
	height: 1px;
	margin: 60px 30px;
}

.step:last-child .step-separator {
	display: none;
}

/***************************************/
/*             FORM ERRORS             */
/***************************************/
.form-error {
	color: #FF8888;
	font-size: 11px;
}

/***************************************/
/*                AJAX DIV             */
/***************************************/
#ajax_target_div {
	padding-top: 0px;
	position: relative;
}

.loading_overlay {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #58606A;
	opacity: 0.8;
	display: none;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #999999;
}

.loading_overlay > div {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 36px;
}

.loading_overlay_transparent {
	background: transparent;
	opacity: 1;
}

.loading_overlay_transparent > div {
	background: #444444;
	color: #DDDDDD;
}