{% if not is_ajax %}
{% include 'front_header.html' %}
<div id="ajax_target_div">
{% endif %}
<div class="front-title">
	{{ __('Reset password') }}
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{{ flash('all')|raw }}
		<form method="POST" class="form-horizontal ajax">
			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">
					{{ __('Username') }}
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="inputEmail" name="username" value="{{ values.username }}" placeholder="{{ __('Enter e-mail address') }}" />
					{{ form_error('username')|raw }}
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-4 control-label">
					{{ __('New password') }}
				</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="inputPassword" name="password" value="" placeholder="{{ __('Enter new password') }}" />
					{{ form_error('password')|raw }}
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword2" class="col-sm-4 control-label">
					{{ __('Repeat password') }}
				</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="inputPassword2" name="password2" value="" placeholder="{{ __('Repeat new password') }}" />
					{{ form_error('password2')|raw }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button type="submit" class="btn btn-default">{{ __('Reset password') }}</button>
				</div>
			</div>		
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<a href="{{ url('login') }}" class="ajax">{{ __('Login') }}</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% if not is_ajax %}
</div>
{% include 'front_footer.html' %}
{% endif %}
